* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgba(240, 128, 128, 0.364);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:rgba(255, 0, 0, 0.612);
    border: none;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgba(0, 0, 0, 0.529);
    color: rgba(255, 255, 255, 0.919);
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgba(0, 0, 0, 0.529);
    color: rgba(255, 255, 255, 0.919);
    border-radius: 1rem;
    border: none;
    margin:1.5rem;
}

#msg {
    color:rgba(193, 26, 157, 0.671);
    font-size: 9vmin;
}

.msg-container {
    margin-bottom: 5vmin;
}

.hide {
    display: none;
}